nav
{
  /* background-color: #000000 ; */
  width: 600px;
  height:100px;
  margin: auto; /* Va del bode del contendor hacia afuera. Deja el contenedo en el centro*/
}

nav a
{
  /* MAQUETACION DE LA BARRA DE NAVEGACIÓN */
  background-color: #006680;
  width: 100px;
  height: 70px;
  display: block;
    /*compartamiendo dentro del controrno
        inline
        block: muestra los elementos en bloques, como las imagenes.
        inline-block Son cajas que se comportan como linea. Tiene como defecto que deja unos espacios y puede afectar la maquetacion  */
  float: left;
    /* acomoda de manera horizontal los bloques de la barra sin los espacios.*/
  margin: 15px 25px;
  /* Solo funciona para un elemente que este dentro de su padre. Cuando se pone un valor lo hace entre las cajas
  El primero es para las verticales y segundo para las horizontales
  margin-top: ;
  margin-bottom: ;
  margin-left: ;
  margin-right: ; */

  /* EDICION DE TEXTO */
  text-align: center;
  line-height: 65px;
    /* es lo referente al espaciado del texto */
  text-decoration: none;
  text-shadow: 1px 1px 3px black;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 0px  20px #00ffff,0px 0px  20px #000000 ;
  /* Esto es para poner los bordes. Si se cae uno de los bloques, quiere decir que los bloques con los bordes superan la anchura del nav (no cabe) Se debe tener en cuenta para el cálculo del nav.
    
    Para poner un border se deben tener 3 aspectos básicos que son: color estilo y grosor. Si se hacen por aparte se realizaría de la siguierte manera. 
    border-color: black;
    border-style: ;
    border-width: 2px;
    border-top: white  Esto es para que solo se vea un borde en el top.
    */
    border: ;
    
  
}

}

nav a:hover {
  background-color: #006666;
  text-decoration:  overline;
  box-shadow:   0px 0px 0px #ffffff, 0px 0px 10px #000000;
  /* Nombre prop
    hexadecimal de 6
    hexadecimal de 3
    rgb
    rgba*/ 
  }
    
/* ------------------------------------------------------------------------------------------------ */
    
    h1  { 
        text-align: center;
        margin: 60px 0;
        
        
    }
    
    

footer {

    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px; /* del borde hacia adentro; es como un margin*/ 
    margin-top: 60px;
    
}


body {
 margin: 0px;   
}
    
    
    
